.title {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 39.3px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 40px;
  color: var(--color-coral);
  font-family: var(--font-dm-serif-display);
}
.on27May,
.writtenBySamurai2099 {
  position: relative;
  font-weight: 200;
}
.writtenBySamurai2099 {
  align-self: stretch;
}
.on27May {
  width: 192.8px;
  height: 36.8px;
  display: inline-block;
  flex-shrink: 0;
}
.metadata,
.metadataWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.metadata {
  flex: 1;
  flex-direction: column;
  gap: 11.8px;
}
.metadataWrapper {
  width: 325.9px;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.l {
  font-size: var(--font-size-45xl);
}
.blankLine,
.blankLine1,
.blankLine2,
.blankLine3,
.blankLine4,
.blankLine5,
.crasSemperAuctor,
.crasSemperAuctor1,
.crasSemperAuctor2,
.loremIpsumDolorSitAmetCo,
.utTellusElementum,
.utTellusElementum1,
.utTellusElementum2 {
  margin: 0;
}
.blogPost,
.content {
  position: relative;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-lexend-deca);
}
.content {
  width: 1149px;
  color: var(--color-gray-200);
  display: inline-block;
  max-width: 100%;
}
.blogPost {
  width: 100%;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 89.7px var(--padding-xl) 840.7px 282px;
  box-sizing: border-box;
  gap: 30.7px;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-gray-100);
}
@media screen and (max-width: 1200px) {
  .blogPost {
    padding-left: var(--padding-122xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .title {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 750px) {
  .blogPost {
    gap: 15px;
    padding-left: 70px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-5xl);
  }
  .content,
  .on27May,
  .writtenBySamurai2099 {
    font-size: var(--font-size-base);
  }
  .blogPost {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
