.latestTitleContainer {
  height: 801px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  align-self: stretch;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.latestTitleContainerParent {
  height: 1125px;
  width: 81.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 14.5px;
}
.tag {
  height: 30px;
  width: 116px;
}
.tag1 {
  height: 30px;
  flex: 1;
}
.feedItemTags,
.meditationTags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.meditationTags {
  width: 260px;
  justify-content: flex-start;
  gap: 16px;
}
.feedItemTags {
  width: 500px;
  justify-content: center;
  padding: 0 var(--padding-xl) 31px;
  box-sizing: border-box;
  max-width: 100%;
}
.blogList,
.feedHeader,
.meditationTagContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feedHeader {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
  max-width: 100%;
}
.blogList,
.meditationTagContainer {
  box-sizing: border-box;
}
.meditationTagContainer {
  width: 1497px;
  flex-direction: column;
  padding: 69px 0 0;
  max-width: 100%;
}
.blogList {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-12xs) var(--padding-mini) var(--padding-11xs);
  gap: 51.5px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .meditationTagContainer {
    padding-top: 45px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .meditationTagContainer {
    padding-top: 29px;
    box-sizing: border-box;
  }
  .blogList {
    gap: 26px;
  }
}
