.login1 {
  margin: 0;
  height: 183px;
  width: 80px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  transform: rotate(-90deg);
}
.loginWrapper {
  width: 623.3px;
  background-color: var(--color-tan);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 472px var(--padding-xl);
  box-sizing: border-box;
  min-width: 623.3px;
  max-width: 100%;
}
.enterYourEmail,
.welcome {
  position: relative;
  display: inline-block;
}
.welcome {
  margin: 0;
  width: 291.3px;
  height: 103.3px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}
.enterYourEmail {
  width: 282.2px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  font-family: var(--font-lexend-deca);
  color: var(--color-darkslategray);
  text-align: left;
}
.inputBoxes {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 72px;
  position: relative;
}
.fieldLabels {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-xs) 0;
  gap: var(--gap-xs);
}
.enterPassword {
  width: 264.1px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  font-family: var(--font-lexend-deca);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
}
.fieldLabelsChild {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 72px;
  position: relative;
}
.fieldLabels1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 11.9px;
}
.submitbtn {
  height: 72px;
  width: 271.7px;
}
.alreadyHaveAn,
.logIn {
  margin: 0;
  color: var(--color-darkslategray);
}
.logIn {
  color: var(--color-tan);
}
.alreadyHaveAnContainer {
  align-self: stretch;
  height: 60px;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-lexend-deca);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.loginButtons {
  width: 387.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.inputFields,
.loginActions,
.welcomeParent {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.loginActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.inputFields,
.welcomeParent {
  flex-direction: column;
}
.inputFields {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  gap: 37.2px;
  flex-shrink: 0;
}
.welcomeParent {
  gap: 58px;
}
.login,
.loginInner,
.welcomeParent {
  display: flex;
  justify-content: flex-start;
}
.loginInner {
  width: 907.1px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 289px;
  box-sizing: border-box;
  min-width: 907.1px;
  min-height: 837px;
  max-width: 100%;
  font-size: var(--font-size-29xl);
  font-family: var(--font-dm-serif-display);
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  gap: 106.7px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-darkslategray);
  font-family: var(--font-lexend-deca);
}
@media screen and (max-width: 1575px) {
  .loginInner,
  .loginWrapper {
    flex: 1;
  }
  .login {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1250px) {
  .loginWrapper {
    padding-top: var(--padding-288xl);
    padding-bottom: var(--padding-288xl);
    box-sizing: border-box;
  }
  .loginInner {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .login1 {
    font-size: var(--font-size-32xl);
  }
  .loginWrapper {
    min-width: 100%;
  }
  .welcome {
    font-size: var(--font-size-19xl);
  }
  .loginInner {
    padding-bottom: 188px;
    box-sizing: border-box;
  }
  .login {
    gap: 53px;
  }
}
@media screen and (max-width: 450px) {
  .login1 {
    font-size: var(--font-size-19xl);
  }
  .loginWrapper {
    padding-top: var(--padding-181xl);
    padding-bottom: var(--padding-181xl);
    box-sizing: border-box;
  }
  .welcome {
    font-size: var(--font-size-10xl);
  }
  .enterPassword,
  .enterYourEmail {
    font-size: var(--font-size-lgi);
  }
  .submitbtn {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .loginActions {
    display: none;
  }
  .inputFields {
    gap: var(--gap-lgi);
  }
  .welcomeParent {
    gap: 29px;
  }
  .loginInner {
    padding-bottom: 122px;
    box-sizing: border-box;
  }
  .login {
    gap: 27px;
  }
}
