.may1,
.p {
  margin: 0;
}
.may {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.samurai2099 {
  height: 20px;
  width: 113px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  transform: rotate(-90deg);
  flex-shrink: 0;
}
.disadvantagesDescription,
.feedItemTitleContainer,
.mayParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.disadvantagesDescription {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 var(--padding-34xl);
  text-align: left;
  font-size: var(--font-size-base);
}
.feedItemTitleContainer,
.mayParent {
  flex-direction: column;
}
.mayParent {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-5xs);
}
.feedItemTitleContainer {
  height: 209px;
  width: 73px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.disadvantagesOfFreedom {
  align-self: stretch;
  position: relative;
}
.span {
  color: var(--color-white);
}
.readMore {
  font-weight: 200;
  color: var(--color-coral);
}
.loremIpsumDolorContainer {
  height: 154px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.sideFeedItem {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-smi);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-lexend-deca);
}
.feedDesktop,
.feedItemDescription,
.sideFeedItem {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.feedItemDescription {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  min-width: 876px;
  text-align: left;
  color: var(--color-chocolate);
  font-family: var(--font-dm-serif-display);
}
.feedDesktop {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-17xl);
  text-align: right;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-200);
  font-family: var(--font-lexend-deca);
}
@media screen and (max-width: 1225px) {
  .feedDesktop {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .feedItemDescription {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .disadvantagesOfFreedom,
  .may {
    font-size: var(--font-size-7xl);
  }
  .feedDesktop {
    gap: var(--gap-lg);
  }
}
@media screen and (max-width: 450px) {
  .disadvantagesOfFreedom,
  .may {
    font-size: var(--font-size-lgi);
  }
  .loremIpsumDolorContainer {
    font-size: var(--font-size-base);
  }
}
