.latestBadgeChild {
  height: 4px;
  width: 20px;
  position: relative;
  background-color: var(--color-tan);
}
.latestBadge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 var(--padding-lgi);
}
.latest {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 61px;
}
.feedItemTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.feedItem,
.feedItemHeader {
  width: 281px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.feedItem {
  width: 1476px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-19xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-lexend-deca);
}
@media screen and (max-width: 750px) {
  .feedItem {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .latest {
    font-size: var(--font-size-base);
  }
}
