.may1,
.p {
  margin: 0;
}
.may {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.capitalism {
  height: 20px;
  width: 94px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  transform: rotate(-90deg);
  flex-shrink: 0;
}
.feedDate,
.headerTitleWords,
.mayParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerTitleWords {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 var(--padding-34xl);
  text-align: left;
  font-size: var(--font-size-base);
}
.feedDate,
.mayParent {
  flex-direction: column;
}
.mayParent {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-7xs);
}
.feedDate {
  height: 198.5px;
  width: 73px;
  padding: var(--padding-lg-5) 0 0;
  box-sizing: border-box;
}
.theDeathOf {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.tionUllamcoLaboris {
  color: var(--color-darkslategray);
}
.span {
  color: var(--color-white);
}
.readMore {
  font-weight: 200;
  color: var(--color-coral);
}
.diamQuisEnimContainer {
  align-self: stretch;
  height: 154px;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  flex-shrink: 0;
  color: var(--color-gray-200);
  font-family: var(--font-lexend-deca);
}
.theDeathOfFreedomParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  min-width: 894px;
  max-width: 100%;
  text-align: left;
  color: var(--color-coral);
  font-family: var(--font-dm-serif-display);
}
.tag,
.tag1 {
  height: 30px;
  width: 116px;
  margin: 0 !important;
  position: absolute;
  bottom: -15px;
  left: 123px;
  z-index: 1;
}
.tag1 {
  left: 255px;
}
.feedDesktop,
.feedTitle {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.feedDesktop {
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: var(--gap-29xl);
}
.feedTitle {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  min-height: 253px;
  text-align: right;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-200);
  font-family: var(--font-lexend-deca);
}
@media screen and (max-width: 1225px) {
  .feedDesktop {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .theDeathOfFreedomParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .may,
  .theDeathOf {
    font-size: var(--font-size-7xl);
  }
  .feedDesktop {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .may,
  .theDeathOf {
    font-size: var(--font-size-lgi);
  }
  .diamQuisEnimContainer {
    font-size: var(--font-size-base);
  }
}
